# {{ ansible_managed }}

[Unit]
Description=Alertmanager for prometheus
Documentation=https://prometheus.io/docs/alerting/alertmanager/

ConditionFileIsExecutable={{ alertmanager_bin_dir }}/alertmanager

StartLimitIntervalSec=0

Wants=network-online.target
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
EnvironmentFile=-/etc/default/alertmanager
ExecStart={{ alertmanager_bin_dir }}/alertmanager \
          $ALERTMANAGER_ARGS
ExecReload=/bin/kill -HUP ${MAINPID}

Restart=on-failure
RestartSec=10s
TimeoutStopSec=20s
SendSIGKILL=no

AmbientCapabilities=
CapabilityBoundingSet=
DeviceAllow=/dev/null rw
DevicePolicy=strict
LimitMEMLOCK=0
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
ReadWritePaths={{ alertmanager_db_dir }}
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
